nav{
    display: flex;
    height: 200px;
}
.nav-menu{
    display:flex;
    gap:10px;
    list-style: circle;
    margin-top: 10px;
    flex-direction: column;
}
footer{
            text-align: center;
            background-color: gray;
            padding: 3px;
            width: 100%;
            height: 35px;
            margin-top: 250px;
}
table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse:collapse;
    width: 100px;
    color: black;
    border: 1px solid black;
    background-color: blueviolet;
}
td,th{
    border: 1px,solid black;
    text-align: left;
    padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;
  padding: 15px 30px;
  background-color: #b22222; /* red header */
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}